:root {
  --default-bg-color: #18191a;
  --default-fg-color: #e6e6e6;
  --primary-nav-bg-color: #141414;
  --card-bg-color: #212223;
  --card-bg-hover-color: #1d1e1f;
  --hover-bg-color: #272729;
  --hover-transparent-bg-color: rgba(30, 31, 33, 0.8);
  --hover-fg-color: #c8c8c8;
  --priority-low-color: #267c2f;
  --priority-medium-color: #ca7c06;
  --priority-high-color: #ad1616;
  --grey-bg-color: #494848;
  --checkbox-bg-color: #505050;
  --checkbox-checked-bg-color: #2f8933;
  --empty-message-text-color: #7a7a7a;
  --card-content-text-color: #aeaeae;
  --card-mini-dialog-bg-color: #2d2d2d;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--default-bg-color);
  color: var(--default-fg-color);
}

ul {
  list-style-type: none;
}

button {
  padding: 4px;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  color: var(--default-fg-color);
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 4px;
}

.icon {
  font-size: 20px;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-horizontal-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disable-scrollbar::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
    
.disable-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

/* CHECKBOX */

.checkbox-container {
  grid-area: checkbox;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.checkbox {
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: var(--checkbox-bg-color);
  border-radius: 100%;
  cursor: pointer;
}

.check-icon {
  display: none;
  position: absolute;
  pointer-events: none;
  top: 2.7px;
  left: 2.5px;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}

.checkbox:checked {
  background-color: var(--checkbox-checked-bg-color);
  background-image: src();
}

.checkbox:checked + .check-icon {
  display: block;
}

/* SIDEBAR NAV */

.primary-nav-button {
  width: 40px;
  height: 40px;
  font-size: 26px;
  border-radius: 100%;
}

.close.primary-nav-button {
  position: absolute;
  top: 16px;
  right: -56px;
}

.primary-nav {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: calc(-100vw - 56px);
  z-index: 700;
}

.primary-nav-container {
  background-color: var(--primary-nav-bg-color);
  width: 300px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.primary-nav .main {
  flex: 1;
  overflow-y: auto;
}

.primary-nav .content-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.primary-nav header,
.primary-nav .heading {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
}

.primary-nav .heading {
  padding-bottom: 4px;
}

.primary-nav h1 {
  font-size: 1.6rem;
}

.primary-nav .logo-icon {
  font-size: 28px;
}

.primary-nav h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.primary-nav button.icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.primary-nav li:not(.section) {
  padding: 12px 0;
  padding-left: 20px;
  margin-right: 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.primary-nav .current {
  background-color: var(--card-bg-color);
}

.primary-nav .default {
  font-style: italic;
}

/* MAIN */

main {
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}

main:has(.empty-message) {
  min-height: 100vh;
}

main .content-wrap {
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* MAIN HEADER */

.primary-header {
  display: flex;
  align-items: center;
  height: 80px;
  top: 0;
  position: sticky;
  background-color: var(--default-bg-color);
  z-index: 500;
}

.write-todo-bar {
  display: flex;
  background-color: var(--card-bg-color);
  height: 40px;
  border-radius: 100px;
  padding: 0 12px;
  gap: 4px;
  align-items: center;
}

.write-todo-bar button {
  font-size: 20px;
  opacity: 0.8;
}

.open.primary-nav-button {
  font-size: 24px;
}

.write-todo-bar-input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--default-fg-color);
  font-size: 1.2rem;
  outline: none;
}

.write-todo-bar .buttons {
  display: none;
  padding-right: 4px;
}

/* MODAL */

.modal,
.modal-top-nav,
.modal-content {
  width: 100%;
}

.modal {
  --border-radius: 4px;
  display: none;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 900;
  left: 0;
  background-color: var(--default-bg-color);
  overflow-y: auto;
  position: fixed;
  top: 0;
}

.modal > :first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.modal > :last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.modal-top-nav {
  height: 50px;
  padding: 0 10px;
}

.modal-top-nav button,
.modal-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  flex-shrink: 0;
}

.modal-top-nav button {
  font-size: 20px;
}

.modal-content {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 10px 16px 24px 16px;
  gap: 16px;
}

.modal-content .buttons {
  gap: 2px;
}

.modal input[type=text],
.modal textarea {
  width: 100%;
  background-color: transparent;
  color: var(--default-fg-color);
  border: none;
  font-size: 1rem;
}

.modal input[type=text]:focus,
.modal textarea:focus {
  outline: none;
}

.modal textarea {
  resize: none;
}

/* TODO MODAL */

.todo-modal .title-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-modal input.title {
  font-size: 1.2rem;
}

/* PROJECT MODAL */

.project-modal input.create-input {
  font-size: 1.2rem;
}

.project-modal .create-input-container {
  display: flex;
  gap: 8px;
}

.project-modal button.enter {
  display: none;
}

.project-modal-list-container {
  overflow: auto;
}

.project-modal-list {
  padding-bottom: 20px;
}

.project-modal .default,
.project-modal-list li {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--default-bg-color);
}

.project-modal .drag-handle {
  font-size: 1.2rem;
  color: var(--card-content-text-color);
  padding: 8px 4px 8px 0px;
  cursor: move;
  cursor: -webkit-grabbing;
}

.project-modal input[type=text] {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.project-modal input[type=text]:focus {
  border-color: var(--grey-bg-color);
}

.project-modal .default .drag-handle,
.project-modal .default input[type=text] {
  color: var(--empty-message-text-color);
}

.project-modal .default .drag-handle {
  cursor: default;
}

.project-modal .default input[type=text] {
  font-style: italic;
}

.project-modal-list button.edit {
  display: none;
}

/* PROJECTS */

.project-select {
  max-width: 160px;
  background-color: transparent;
  border: none;
  color: var(--default-fg-color);
  padding: 4px 12px 4px 10px;
  color-scheme: dark;
  text-overflow: ellipsis;
  cursor: pointer;
}

.project-select option {
  background-color: var(--grey-bg-color);
}

/* PRIORITY LIST */

.priority-choice-list {
  display: flex;
  gap: 8px;
}

.priority-choice input {
  display: none;
  pointer-events: none;
}

.priority-choice {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.9rem;
  border: 2px solid transparent;
}

.priority-choice:has(:checked) {
  padding: 2px 12px;
  border-radius: 4px;
}

.priority-choice:has([value="low"]:checked) {
  border-color: var(--priority-low-color);
}

.priority-choice:has([value="medium"]:checked) {
  border-color: var(--priority-medium-color);
}

.priority-choice:has([value="high"]:checked) {
  border-color: var(--priority-high-color);
}

/* DUE DATE PICKER */

.due-date-picker {
  background-color: transparent;
  color-scheme: dark;
  border: 1px solid var(--grey-bg-color);
  border-radius: 4px;
  padding: 4px 10px;
}

/* TODOS */

.todos,
.todo-section > ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.todos .empty-message {
  text-align: center;
  color: var(--empty-message-text-color);
}

.todos:has(.empty-message) {
  justify-content: center;
  align-items: center;
}

.todo-section {
  position: relative;
}

.todo-section h2 {
  background-color: var(--default-bg-color);
  top: 80px;
  position: sticky;
  z-index: 100;
  font-size: 1rem;
  padding-bottom: 8px;
}

.todo-section > ul {
  gap: 8px;
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "checkbox title buttons"
    "checkbox content buttons";
  background-color: var(--card-bg-color);
  padding: 12px 24px;
  column-gap: 16px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.todo-item.low-priority {
  border-left: 4px solid var(--priority-low-color);
}

.todo-item.medium-priority {
  border-left: 4px solid var(--priority-medium-color);
}

.todo-item.high-priority {
  border-left: 4px solid var(--priority-high-color);
}

.todo-item .title,
.todo-item .content {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-item .title {
  grid-area: title;
  font-size: 1.1rem;
}

.todo-item.checked .title {
  text-decoration: line-through;
}

.todo-item .content {
  grid-area: content;
  color: var(--card-content-text-color);
}

.todo-item .buttons {
  grid-area: buttons;
}

.todo-item .button-container {
  position: relative;
}

.todo-item .pop-up {
  cursor: initial;
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  background-color: var(--card-mini-dialog-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 200;
  padding: 6px 8px;
  border-radius: 4px;
}

.todo-item .pop-up::after {
  /* adds space below to avoid popup
    touching the edge of screen */
  height: 20px;
  width: 100%;
  top: 100%;
  left: 0px;
  position: absolute;
  content: "";
  pointer-events: none;
}

.todo-item .priority-choice-title,
.todo-item .description-title {
  font-size: 0.8rem;
  color: var(--card-content-text-color);
}

.todo-item .priority-choice-title {
  padding-bottom: 4px;
}

.todo-item .comment + .pop-up {
  width: 200px;
}

.todo-item .description {
  font-size: 0.9rem;
}

/* MEDIA QUERIES */

@media (hover: hover) {
  .checkbox:hover + .check-icon {
    display: block;
  }

  .close.primary-nav-button:hover {
    background-color: var(--hover-transparent-bg-color);
  }

  .primary-nav button.icon:hover {
    background-color: var(--hover-bg-color);
  }

  .primary-nav li:not(.section):hover {
    background-color: var(--hover-bg-color);
  }

  .modal-top-nav button:hover,
  .modal-content button:hover {
    background-color: var(--hover-bg-color);
  }

  .project-modal-list li:hover button.edit {
    display: block;
  }

  .todo-item.hoverable:hover {
    background-color: var(--card-bg-hover-color);
  }

  .todo-item button:hover {
    color: var(--hover-fg-color);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    padding-left: 300px;
  }

  .primary-nav {
    width: 300px;
    background-color: transparent;
    position: fixed;
    left: 0;
  }

  .primary-nav-container {
    background-color: inherit;
  }
  
  .primary-header .write-todo-bar {
    max-width: 600px;
    margin: 0 auto;
  }

  .primary-header input[type=text] {
    padding: 8px;
  }

  .open.primary-nav-button,
  .close.primary-nav-button {
    display: none;
  }

  .modal {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-top-nav,
  .modal-content {
    width: 600px;
    background-color: var(--default-bg-color);
  }

  .modal-content {
    height: auto;
  }

  .project-modal .modal-top-nav,
  .project-modal .modal-content {
    width: 360px;
    background-color: var(--default-bg-color);
  }

  .project-modal-list-container {
    max-height: 400px;
  }
}