:root {
  --default-bg-color: #18191a;
  --default-fg-color: #e6e6e6;
  --primary-nav-bg-color: #141414;
  --card-bg-color: #212223;
  --card-bg-hover-color: #1d1e1f;
  --hover-bg-color: #272729;
  --hover-transparent-bg-color: rgba(30, 31, 33, 0.8);
  --hover-fg-color: #c8c8c8;
  --priority-low-color: #267c2f;
  --priority-medium-color: #ca7c06;
  --priority-high-color: #ad1616;
  --grey-bg-color: #494848;
  --checkbox-bg-color: #505050;
  --checkbox-checked-bg-color: #2f8933;
  --card-content-text-color: #aeaeae;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--default-bg-color);
  color: var(--default-fg-color);
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  color: var(--default-fg-color);
  cursor: pointer;
}

.icon {
  font-size: 20px;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-horizontal-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SIDEBAR NAV */

.primary-nav-button {
  width: 40px;
  height: 40px;
  font-size: 26px;
  border-radius: 100%;
}

.close.primary-nav-button {
  position: absolute;
  top: 16px;
  right: -56px;
}

.close.primary-nav-button:hover {
  background-color: var(--hover-transparent-bg-color);
}

.primary-nav {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: calc(-100vw - 56px);
  z-index: 100;
}

.primary-nav-container {
  background-color: var(--primary-nav-bg-color);
  width: 300px;
  height: 100vh;
  position: relative;
}

.primary-nav .content-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.primary-nav header,
.primary-nav .heading {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
}

.primary-nav .heading {
  padding-bottom: 4px;
}

.primary-nav h1 {
  font-size: 1.6rem;
}

.primary-nav .logo-icon {
  font-size: 28px;
}

.primary-nav h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.primary-nav button.icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.primary-nav button.icon:hover {
  background-color: var(--hover-bg-color);
}

.primary-nav li:not(.section) {
  padding: 12px 0;
  padding-left: 20px;
  margin-right: 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.primary-nav li:not(.section):hover {
  background-color: var(--hover-bg-color);
}

.primary-nav .current {
  background-color: var(--card-bg-color);
}

.primary-nav .default {
  font-style: italic;
}

/* MAIN */

main .content-wrap {
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* MAIN HEADER */

.primary-header {
  padding: 20px 0;
}

.write-todo-bar {
  display: flex;
  background-color: var(--card-bg-color);
  height: 40px;
  border-radius: 100px;
  padding: 0 12px;
  gap: 4px;
  align-items: center;
}

.write-todo-bar button {
  font-size: 20px;
  opacity: 0.8;
}

.open.primary-nav-button {
  font-size: 24px;
}

.write-todo-bar-input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--default-fg-color);
  font-size: 1.2rem;
  outline: none;
}

.write-todo-bar .buttons {
  display: none;
  gap: 8px;
  padding-right: 4px;
}

/* TODO MODAL */

.todo-modal,
.todo-modal-top-nav,
.todo-modal-container {
  width: 100%;
}

.todo-modal {
  display: none;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 200;
  left: 0;
  background-color: var(--default-bg-color);
  overflow-y: auto;
  position: fixed;
  top: 0;
}

.todo-modal-top-nav {
  padding: 10px;
}

.todo-modal-top-nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 20px;
  border-radius: 100%;
}

.todo-modal-top-nav button:hover {
  background-color: var(--hover-bg-color);
}

.todo-modal-container {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
}

.todo-modal input[type=text],
.todo-modal textarea {
  background-color: transparent;
  color: var(--default-fg-color);
  border: none;
  font-size: 1rem;
}

.todo-modal input[type=text]:focus,
.todo-modal textarea:focus {
  outline: none;
}

.todo-modal input[type=text] {
  font-size: 1.2rem;
}

.todo-modal textarea {
  resize: none;
}

/* PROJECTS */

.project-select {
  max-width: 160px;
  background-color: transparent;
  border: none;
  color: var(--default-fg-color);
  padding: 4px 12px 4px 10px;
  color-scheme: dark;
  text-overflow: ellipsis;
  cursor: pointer;
}

.project-select option {
  background-color: var(--grey-bg-color);
}

/* PRIORITY LIST */

.priority-choice-list {
  display: flex;
  gap: 8px;
}

.priority-choice {
  appearance: none;
}

.priority-choice + label {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.9rem;
  border: 2px solid transparent;
}

.priority-choice:checked + label {
  padding: 2px 12px;
  border-radius: 4px;
}

#priority-choice-low:checked + label {
  border-color: var(--priority-low-color);
}

#priority-choice-medium:checked + label {
  border-color: var(--priority-medium-color);
}

#priority-choice-high:checked + label {
  border-color: var(--priority-high-color);
}

/* DUE DATE PICKER */

.due-date-picker {
  background-color: transparent;
  color-scheme: dark;
  border: 1px solid var(--grey-bg-color);
  border-radius: 4px;
  padding: 4px 10px;
}

/* TODOS */

.todos,
.todo-section ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.todo-section h2 {
  font-size: 1rem;
  margin-bottom: 8px;
}

.todo-section ul {
  gap: 8px;
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "checkbox title buttons"
    "checkbox content buttons";
  background-color: var(--card-bg-color);
  padding: 12px 24px;
  column-gap: 16px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.todo-item:hover {
  background-color: var(--card-bg-hover-color);
}

.todo-item.low-priority {
  border-left: 4px solid var(--priority-low-color);
}

.todo-item.medium-priority {
  border-left: 4px solid var(--priority-medium-color);
}

.todo-item.high-priority {
  border-left: 4px solid var(--priority-high-color);
}

.todo-item .buttons {
  display: flex;
  gap: 8px;
}

.todo-item .title,
.todo-item .content {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-item .title {
  grid-area: title;
  font-size: 1.1rem;
}

.todo-item.checked .title {
  text-decoration: line-through;
}

.todo-item .content {
  grid-area: content;
  color: var(--card-content-text-color);
}

.todo-item .buttons {
  grid-area: buttons;
}

.todo-item button {
  font-size: 1.2rem;
}

.todo-item button:hover {
  color: var(--hover-fg-color);
}

.todo-item .checkbox-container {
  grid-area: checkbox;
  position: relative;
  width: 24px;
  height: 24px;
}

.todo-item .checkbox {
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: var(--checkbox-bg-color);
  border-radius: 100%;
  cursor: pointer;
}

.todo-item .check-icon {
  display: none;
  position: absolute;
  pointer-events: none;
  top: 2.7px;
  left: 2.5px;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}

.todo-item .checkbox:hover + .check-icon {
  display: block;
}

.todo-item .checkbox:checked {
  background-color: var(--checkbox-checked-bg-color);
  background-image: src();
}

.todo-item .checkbox:checked + .check-icon {
  display: block;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .primary-nav {
    width: auto;
    background-color: transparent;
    position: static;
    left: 0;
  }

  .primary-nav-container {
    background-color: inherit;
  }
  
  .primary-header .write-todo-bar {
    max-width: 600px;
    margin: 0 auto;
  }

  .primary-header input[type=text] {
    padding: 8px;
  }

  .open.primary-nav-button,
  .close.primary-nav-button {
    display: none;
  }

  .todo-modal {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .todo-modal-top-nav,
  .todo-modal-container {
    width: 600px;
    background-color: var(--default-bg-color);
  }
}