.tutorial-panel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
}

.tutorial-content {
  min-height: 100vh;
  font-size: 1.2rem;
  padding: 120px 40px 80px;
  margin: 0 auto;
}

.tutorial-content .grey-circle {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: #505050;
  display: inline-block;
}

.tutorial-content .header {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  align-items: center;
}

.tutorial-content .logo-icon {
  --icon-size: 40px;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size) var(--icon-size);
}

.tutorial-content .heading {
  font-weight: 700;
  font-size: 2rem;
}

.tutorial-content .sub-heading {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.tutorial-content .sub-sub-heading {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.tutorial-content p {
  margin-bottom: 4px;
}

.tutorial-content section > :last-child,
.tutorial-content p:last-of-type {
  margin-bottom: 20px;
}

.tutorial-content img {
  margin: 12px 0;
}

.tutorial-content .mono {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(60, 60, 60, 0.8);
  padding: 2px  8px;
  border-radius: 4px;
  margin: 0px 2px;
}

.tutorial-content .begin-button {
  display: block;
  font-weight: 600;
  border: 2px solid;
  padding: 12px 24px;
  border-radius: 4px;
  margin-left: auto;
  margin-top: 40px;
}

@media (hover: hover) {
  .tutorial-content .begin-button:hover {
    opacity: 0.9;
  }
}

@media screen and (min-width: 768px) {
  .tutorial-content {
    max-width: 768px;
  }
}